.game {
  min-height: 100vh;
  background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/game_bg.png')
    repeat top center/100%;
  padding-bottom: 20px;
  .movie-desc {
    margin: 0 auto 25px;
    text-align: center;
    .desc {
      display: inline-block;
      max-width: 730px;
      padding: 8px 64px;
      background-color: #761cdb;
      color: #feffff;
      font-size: 28px;
      border-radius: 35px;
      line-height: 54px;
      .name {
        display: inline-block;
        width: 54px;
        height: 54px;
        background-color: #460097;
        border-radius: 12px;
        margin-right: 16px;
      }
    }
  }

  .see-anwser {
    width: 290px;
    height: 50px;
    background: linear-gradient(180deg, #ffea61 0%, #f99919 100%);
    color: #fff;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto 20px;
    border-radius: 25px;
  }

  .content-wrap {
    padding-top: 20px;

    .coin-tip {
      width: 229px;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
      color: #fff;
      text-align: center;
      background-color: #f9991a;
      border-radius: 12px;
    }
  }

  .write-wrap {
    margin-top: 20px;
    .anwser {
      margin: 20px auto;
      .word {
        height: 86px;
        width: 86px;
        background-color: #460097;
        margin-right: 15px;
        border-radius: 10px;
        color: #fff;
        line-height: 86px;
        text-align: center;
      }
    }
    .tip {
      margin: 0 auto 18px;
      width: 400px;
      height: 52px;
      background-color: rgba(118, 28, 219, 0.5);
      line-height: 52px;
      border-radius: 12px;
      font-size: 22px;
      color: #ffffff;
      text-align: center;
    }

    .options {
      padding-left: 60px;
      padding-right: 20px;
      min-height: 443px;
      .word {
        font-size: 40px;
        font-weight: 700;
        height: 102px;
        width: 102px;
        background-color: #ffffff;
        margin-right: 30px;
        margin-bottom: 26px;
        border-radius: 20px;
        border: 2px solid #8c3ee3;
        color: #333333;
        line-height: 102px;
        text-align: center;
      }
    }
    .gameover {
      display: block;
      margin: 0 auto;
      width: 191px;
      height: 191px;
    }
  }
}

.game-rule {
  width: 686px;
  height: auto;
  background-color: #761cdb;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  .title {
    width: 476px;
    height: 10px;
    background-image: url('../../assets/rule_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    text-align: center;
    .text {
      text-align: center;
      position: relative;
      top: -20px;
    }
  }
  .content {
    padding-top: 34px;
    .rule {
      line-height: 34px;
      font-size: 24px;
      opacity: 0.7;
      margin-bottom: 10px;
    }
  }
}

.displayGroup {
  background: #020000;
  height: 376px;
  position: relative;
  overflow: hidden;
}
.dmGroup {
  position: absolute;
  top: 30px;
  left: 100%;
  z-index: 10;
  animation-timing-function: linear;
  animation-fill-mode: none;
  transform: translateZ(0);
  white-space: nowrap;
  height: 60px;
}

.dmGroup.top {
  height: 60px;
}
.dmGroup.mid {
  height: 60px;
  top: 120px;
}
.dmGroup.btm {
  height: 60px;
  top: 210px;
}
.dmGroup.btm2 {
  height: 60px;
  top: 300px;
}
.dmItem {
  display: inline-flex;
  margin-right: 60px;
  white-space: nowrap;
}

.dmItem .dm {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px 0 5px;
  background: #424348;
  border-radius: 25px;
  // overflow: hidden;
  font-size: 24px;
  color: #fff;
}

.dmItem .avatarBox {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  left: -10px;
  bottom: 6px;
}

.dmItem .avatarBox .avatar {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
}

.dmItem .dm .name {
  display: inline-block;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  // margin-right: 10px;
}

.dmItem .dm .type {
  display: inline-block;
  // max-width: 120px;
  height: 50px;
  line-height: 50px;
  // margin-right: 10px;
}

.dmItem .dm .time {
  display: inline-block;
  color: #969293;
  font-size: 22px;
  // max-width: 220px;
  height: 50px;
  line-height: 50px;
  // margin-right: 10px;
}

@keyframes dmAnimation2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-130%);
  }
}

.curtain-wrap {
  display: block;
  margin: 0 auto;
  background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/curtain-bg.png')
    no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 560px;
  height: 566px;
  .title {
    height: 135px;
    line-height: 135px;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
  }
  .movie-title {
    height: 140px;
    line-height: 140px;
    text-align: center;
    color: #fa5e2e;
    font-size: 42px;
    margin-top: 40px;
  }
  .tips-1 {
    background-color: #6d6c6c;
    width: 300px;
    height: 46px;
    border-radius: 23px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    margin: 0 auto;
  }
  .tips-2 {
    height: 53px;
    line-height: 53px;
    text-align: center;
    text-align: center;
    color: #fa5e2e;
    font-size: 26px;
    font-weight: 700;
  }
  .curtain-btn {
    width: 328px;
    height: 82px;
    border-radius: 41px;
    background-color: #fa5e2e;
    line-height: 82px;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .movie-icon {
      width: 38px;
      height: 36px;
      display: inline-block;
    }
    .btn {
      margin-left: 10px;
    }
  }
}
.at-curtain__btn-close--top-right {
  top: 10px;
  right: 30px;
}
