.index {
  min-height: 100vh;
  background-image: url('../../assets/index_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  color: #fff;
  padding: 0 38px 30px;

  .avatar {
    margin-right: 34px;
  }
}

.nickName {
  font-size: 36px;
}
.coin {
  font-size: 28px;
  .guess-right,
  .watch {
    margin-left: 10px;
  }
}
.game-rule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  .title {
    width: 476px;
    height: 10px;
    background-image: url('../../assets/rule_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    text-align: center;
    .text {
      text-align: center;
      position: relative;
      top: -20px;
    }
  }
  .content {
    padding-top: 34px;
    .rule {
      font-size: 24px;
      color: #ffffff;
      opacity: 0.7;
      margin-bottom: 10px;
    }
  }
}
.quiz {
  width: 100%;
  height: 276px;
}
.pass-through {
  width: 100%;
  height: 276px;
}
.sign-in {
  width: 100%;
  height: 98px;
}
.leaderboard-box,
.personal-center-box {
  width: 318px;
  height: 218px;
  margin-top: 36px;
}
.leaderboard,
.personal-center {
  width: 100%;
  height: 218px;
}
.login-btn,
.invite-btn {
  width: 672px;
  height: 128px;
  border-radius: 128px;
  background-color: #433652;
  margin: 30px auto 0;
  text-align: center;
  .text {
    font-size: 40px;
    line-height: 128px;
  }
}
