.index {
  min-height: 100vh;
  background-image: url('../../assets/index_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  color: #fff;
  padding: 0 38px 30px;
  .avatar {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    margin-right: 30px;
  }
}

.nickName {
  font-size: 36px;
}
.coin {
  font-size: 28px;
  .guess-right,
  .watch {
    margin-left: 10px;
  }
}
.signin {
  width: 170px;
  height: 58px;
  border-radius: 38px;
  background: linear-gradient(360deg, #8c4aec 0%, #f37dda 100%);
  font-size: 24px;
  text-align: center;
  line-height: 58px;
}
.personal_center {
  position: absolute;
  width: 90px;
  height: 158px;
  .personal {
    width: 100%;
    height: 158px;
    transform-origin: top center;
    animation: transform 1.5s linear infinite forwards;
  }
}
.game-rule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  .title {
    width: 476px;
    height: 10px;
    background-image: url('../../assets/rule_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    text-align: center;
    .text {
      text-align: center;
      position: relative;
      top: -20px;
    }
  }
  .content {
    padding-top: 34px;
    .rule {
      line-height: 34px;
      font-size: 24px;
      color: #ffffff;
      opacity: 0.7;
      margin-bottom: 10px;
    }
  }
}

.quiz {
  width: 464px;
  height: 464px;
  display: block;
  margin: 0 auto;
}

.leaderboard-box {
  width: 464px;
  height: 464px;
  margin: -56px auto 0;
}
.leaderboard {
  width: 464px;
  height: 464px;
}

@keyframes transform {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
