.signin {
  min-height: 100vh;
  .signin_header {
    height: 356px;
    padding-top: 104px;
    background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/sign_bg.png')
      no-repeat;
    background-position: top center;
    background-size: 100%;
    .signin-btn {
      width: 374px;
      height: 72px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 36px;
      color: #8a4ce8;
      font-size: 32px;
      line-height: 72px;
      text-align: center;
    }
    .desc {
      margin-top: 50px;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
    }
    .rule {
      margin-top: 18px;
      font-size: 24px;
      color: #ffff00;
      text-align: center;
    }
  }

  .signin-wrap {
    width: 100%;
    .content-wrap {
      height: 70vh;
      padding: 0 50px;
      overflow: auto;
      .item {
        padding: 28px 0;
        border-bottom: 2px solid #e3e3e3;
        .avatar {
          width: 76px;
          height: 76px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .user {
          .user-name {
            font-size: 24px;
            color: #333333;
            font-weight: 700;
            line-height: 30px;
          }
          .signin-time {
            font-size: 20px;
            color: #a3a3a3;
            margin-top: 12px;
          }
        }
        .reward {
          width: 176px;
          font-size: 20px;
          .days {
            color: #a3a3a3;
            line-height: 28px;
          }
          .coin {
            font-size: 24px;
            margin-top: 12px;
            color: #ea612c;
          }
        }
      }
    }
  }
}

.at-tabs__header {
  padding: 0 80px;
  background-color: #7431db;
  .at-tabs__item {
    color: #cddbed;
    font-size: 28px;
    &.at-tabs__item--active {
      font-size: 32px;
      font-weight: 700;
      .at-tabs__item-underline {
        width: 24px;
        height: 12px;
        background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/arrow_top.png')
          no-repeat top center/100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
      }
    }
  }
}

.at-modal__content {
  min-height: auto;
}
.rule-content {
  text-align: center;
}
