.guessed-movie {
  min-height: 100vh;
  background-color: #3a466a;
  padding: 12px 0;
  .movie-item {
    width: 100%;
    margin-bottom: 40px;
    .desc {
      height: 58px;
      width: 690px;
      border-radius: 30px;
      margin: 0 auto;
      background-color: #292d32;
      text-align: center;
      line-height: 58px;
      color: #fff;
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .video {
      margin-top: 12px;
    }
  }
  .bottom-text {
    text-align: center;
    font-size: 24px;
    color: #fff;
    opacity: 0.8;
    padding-bottom: 40px;
  }
}
