.game {
  min-height: 100vh;
  position: relative;
  background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/game_bg.png')
    no-repeat top center/100%;
  .movie-desc {
    margin: 0 auto 15px;
    text-align: center;
    max-width: 730px;
    .desc {
      padding: 8px 12px;
      background-color: #761cdb;
      color: #feffff;
      font-size: 28px;
      border-radius: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .yindao {
    width: 252px;
    height: 248px;
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 9999;
  }
  .movie-wrap {
    min-height: 450px;
    .movie-item {
      min-height: 450px;
    }
  }

  .write-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .coin-tip {
      width: 418px;
      height: 68px;
      font-size: 28px;
      line-height: 68px;
      color: #ff0000;
      text-align: center;
      background-color: #380079;
      border-radius: 34px;
    }
    .anwser {
      margin: 20px auto;
      .word {
        height: 86px;
        width: 86px;
        background-color: #460097;
        margin-right: 15px;
        border-radius: 10px;
        color: #fff;
        line-height: 86px;
        text-align: center;
      }
    }

    .tip {
      margin: 0 auto 18px;
      width: 400px;
      height: 52px;
      background-color: rgba(118, 28, 219, 0.5);
      line-height: 52px;
      border-radius: 12px;
      font-size: 22px;
      color: #ffffff;
      text-align: center;
    }
    .see-anwser {
      width: 290px;
      height: 50px;
      line-height: 50px;
      background: linear-gradient(180deg, #ffea61 0%, #f99919 100%);
      color: #fff;
      font-size: 28px;
      text-align: center;
      border-radius: 25px;
      margin-bottom: 40px;
    }

    .options {
      padding-left: 60px;
      padding-right: 20px;
      min-height: 443px;
      .word {
        height: 102px;
        width: 102px;
        background-color: #ffffff;
        margin-right: 30px;
        margin-bottom: 26px;
        border-radius: 20px;
        border: 2px solid #8c3ee3;
        color: #333333;
        line-height: 102px;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
      }
    }
    .gameover {
      display: block;
      margin: 0 auto;
      width: 191px;
      height: 191px;
    }
  }
}
