.game {
  min-height: 100vh;
  position: relative;
  background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/game_bg.png')
    no-repeat top center/100%;
  .movie-desc {
    margin: 0 auto 15px;
    text-align: center;
    max-width: 730px;
    .desc {
      padding: 8px 12px;
      background-color: #761cdb;
      color: #feffff;
      font-size: 28px;
      border-radius: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .yindao {
    width: 252px;
    height: 248px;
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 1000;
  }
  .movie-wrap {
    min-height: 450px;
    .movie-item {
      min-height: 450px;
    }
  }

  .write-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .coin-tip {
      width: 418px;
      height: 68px;
      font-size: 28px;
      line-height: 68px;
      color: #f7c836;
      text-align: center;
      background-color: #380079;
      border-radius: 34px;
    }
    .options {
      margin-top: 40px;
      width: 686px;
      background-color: rgba(255, 255, 255, 0.26);
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      padding: 26px 16px;
      .tip {
        margin: 0 auto 42px;
        width: 544px;
        height: 68px;
        background-color: rgba(118, 28, 219, 0.5);
        line-height: 68px;
        border-radius: 12px;
        font-size: 30px;
        color: #ffffff;
        text-align: center;
      }
      .option-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          width: 320px;
          height: 84px;
          padding-left: 20px;
          border: 2px solid #761cdb;
          border-radius: 10px;
          margin-bottom: 16px;
          line-height: 84px;
          color: #ffffff;
          font-size: 32px;
          &.active {
            background-color: #761cdb;
          }
        }
      }
    }
    .confirm {
      width: 442px;
      height: 78px;
      margin-top: 60px;
      background: url('https://p2-static.oss-cn-beijing.aliyuncs.com/MiniApp/pmccc/images/confirm.png')
        no-repeat top center/100%;
    }
  }

  .curtain-wrap {
    width: 590px;
    height: 596px;
    background-color: #fff;
    border-radius: 18px;
    position: relative;
    padding-top: 248px;
    text-align: center;
    .icon {
      width: 486px;
      height: 259px;
      position: absolute;
      top: -144px;
      left: 52px;
    }
    .info {
      width: 334px;
      height: 50px;
      position: absolute;
      top: 158px;
      left: 156px;
    }

    .price {
      font-size: 44px;
      color: #ff0000;
    }
    .video-name {
      color: #c7cacf;
      font-size: 28px;
      margin-top: 28px;
    }
    .watch-answer {
      width: 414px;
      height: 134px;
      background-color: #813cea;
      border-radius: 68px;
      line-height: 134px;
      text-align: center;
      margin: 40px auto 0;
      color: #fff;
      .video-icon {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
}
